#canvas {
  display: block;
  margin: 0 auto;
  background-color: #f2fbff;
  background-size: 30px 30px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
  outline: none;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid black;
  z-index: -1;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.instructions-page {
  display: inline-block;
  position: absolute;
  background-color: rgba(0, 0, 0, .4);
  width: inherit;
  height: inherit;
}

.instructions-box {
  background-color: white;
  transform: translate(50%, 50%);
  position: absolute;
  top: 50%
  right: 50%;
  padding: 30px;
  border-radius: 10px;
}
